body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
    text-align: center;
}

header {
    background-color: #433d88;
    color: white;
    padding: 20px;
}

.filter-buttons {
    margin: 20px 0;
}

.filter-buttons button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.filter-buttons button:hover {
    background-color: #312c6a;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.menu-item {
    background: white;
    width: 220px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.menu-item h3 {
    margin: 10px 0;
}

.menu-item span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #3c2464;
}

footer {
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* Responsive */
@media (max-width: 600px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
    }
}
